/*---------------------------------------------------------------------------
➀パソコン VIEW設定
---------------------------------------------------------------------------*/
/* ページ最上部のパララックス背景画像 */
.header-banner {
    background-image: url('../images/environment/1header-parallax.jpg'); 
}

